<!DOCTYPE html>
<html class='use-all-space'>

<head>
  <meta http-equiv='X-UA-Compatible' content='IE=Edge' />
  <meta charset='UTF-8'>
  <title>CPS IoT Traffic monitoring system</title>
 
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

  <style>
  </style>

</head>

<body>
  <!-- A. Dashboard showing traffic with traffic type -->
  <span>1.Traffic information for CPS</span><br><br>
  
  <!-- B. Table for the incoming traffic -->
  <span>Traffic</span>
  <table id="traffic-table">
    <!-- <thead>
        <tr>
            <th>Time since previous TCP stream</th>
            <th>Prototype application</th>
            <th>IP Address</th>
            <th>Bytes in flight</th>
            <th>Traffic Type</th>
        </tr>
    </thead> -->
    <tbody></tbody>
  </table>
  
  <!-- C. Endpoint rendering incoming traffic table -->
  <script>   
    $(document).ready(function() {
        console.log("Fetching HTML data...");
        $.ajax({
            type: 'GET',
            url: '/get_traffic_data_html',
            success: function(htmlData) {
                $('#traffic-table tbody').html(htmlData);  // Update the tbody of the table
                console.log("Updated the table with data.");
            },
            error: function(jqXHR, textStatus, errorThrown) {
                console.log("Error:", textStatus, errorThrown);
            }
        });
    });
  </script>
</body>

</html>
